<!doctype html>
<html lang="en">
<head>
    <title>Mushrooms</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="mushrooms">
    <div class="container my-3">
        <div class="row m-5 ">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search" ng-model="shroomSearch">
            </div>
            <label>
                <input type="radio" ng-model="poisonous" value="1">
                Poisonous
            </label><br/>
            <label>
                <input type="radio" ng-model="poisonous" value="0">
                Non-poisonous
            </label>
        </div>
        <div id="content" ng-view></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/ctrl/mushroom.js"></script>
    <script src="assets/js/factory/mushroom.js"></script>
</body>
</html>